@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    ID: @ViewBag.ID
    <br />
     Name: @ViewBag.Name
    <br />
    Roll: @ViewBag.Roll
    <br />
    Email: @ViewBag.Email
   
  

</body>
</html>
